.navbar {
    background-color: rgba(255,255,255,.5);
    backdrop-filter: blur(10px);
}
.navbar-main .navbar-menu {
    background-color: rgba(255,255,255,0);
}
.widget {
    background-color: rgba(255,255,255,.5);
    backdrop-filter: blur(10px);
}
.footer {
    background-color: rgba(255,255,255,.5);
    backdrop-filter: blur(10px);
}
.pagination
    .pagination-link,
    .pagination-previous,
    .pagination-next
        background: rgba(255,255,255,.5)
        backdrop-filter: blur(10px)
    .pagination-link.is-current
        background: rgba(0,0,255,.5)
        backdrop-filter: blur(10px)
#back-to-top
    background: rgba(255,255,255,.5)
    backdrop-filter: blur(10px)
.card
    background-color: rgba(255,255,255,.5)
    backdrop-filter: blur(10px)
.searchbox
    background: transparent
    .searchbox-container
        background: rgba(255,255,255,.5)
        backdrop-filter: blur(10px)
.searchbox .searchbox-header {
    background-color: rgba(255,255,255,0);
}
.searchbox .searchbox-input {
    background-color: rgba(255,255,255,0);
}
.timeline
    border-left: 1px solid Silver
    .media
        &:before
            background: Silver
        &:last-child:after
            background: transparent
.is-2-column { 
    background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
}

.is-3-column {
    background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
}


+fullhd()
    .is-3-column .container
        max-width: $widescreen - 2 * $gap
        width: $widescreen - 2 * $gap